process {
  executor = 'slurm'
  queue = 'super'
  clusterOptions = '--hold'

  // Process specific configuration
}

params {
  // Reference file paths on BioHPC
}

singularity {
  enabled = true
  cacheDir = '/project/shared/bicf_workflow_ref/singularity_images'
}

trace {
  enabled = true
  file = 'pipeline_trace.txt'
  fields = 'task_id,native_id,process,name,status,exit,submit,start,complete,duration,realtime,%cpu,%mem,rss'
}
